APP_NAME=Disaster Alert Backend
APP_ENV=development
PORT=8080

MONGO_URI=
MONGO_DATABASE=disaster_alert

JWT_SECRET=
JWT_EXPIRES_IN=24h

FIREBASE_CREDENTIALS_FILE=./firebase/service-account.json
FIREBASE_CREDENTIALS_JSON=

GDACS_ENABLED=true

NASA_FIRMS_ENABLED=true
NASA_FIRMS_MAP_KEY=
NASA_FIRMS_SOURCE=VIIRS_SNPP_NRT
NASA_FIRMS_AREA=-3.5,4.5,1.5,11.5
NASA_FIRMS_DAY_RANGE=1
NASA_FIRMS_LIMIT=50

GDELT_ENABLED=true
GDELT_LIMIT=20
GDELT_TIMESPAN=24h

RELIEFWEB_ENABLED=false
RELIEFWEB_APP_NAME=
RELIEFWEB_LIMIT=20

OPENWEATHER_ENABLED=true
OPENWEATHER_API_KEY=